* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle at top left, #1a1a1a, #101010);
  font-family: 'Segoe UI', sans-serif;
  color: white;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 1rem;
}

.top-controls {
  position: absolute;
  background: rgba(159, 158, 158, 0.19);
  margin-left: 2vw;
  top: .5vw;
  padding: 1.4vw;
  border-radius: 2.8vw;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  z-index: 10;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.667);
}

.top-controls img {
  width: 1.5vw;
  height: 1.5vw;
  filter: invert(1);
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.2s ease;
}

.top-controls img:hover {
  opacity: 1;
  transform: scale(1.1);
}

#shutdown-btn {
  position: relative;
  width: 1.5vw; /* اندازه عرض */
  height: 1.5vw;
  filter: invert(1);
  cursor: pointer;
  opacity: 0.8;
  border-radius: 2.8vw;
  transition: all 0.2s ease;
}

#shutdown-btn:hover {
  opacity: 1;
  width: 1.5vw; 
  height: 1.5vw;
  transform-origin: scale(1.1);
  background-color: red; /* Change background to red */
  filter: none; /* Remove filter effects */
  border-radius: 50%;
  padding: 0.1vw; /* Optional: Adds padding to the button */
}

#restart-btn{
  position: relative;
  width: 1.5vw; /* اندازه عرض */
  height: 1.5vw;
  filter: invert(1);
  cursor: pointer;
  opacity: 0.8;
  border-radius: 12px;
  transition: all 0.2s ease;
}

#restart-btn:hover {
  opacity: 1;
  width: 1.5vw; 
  height: 1.5vw;
  transform-origin: scale(1.1);
  background-color: green; /* Change background to green */
  filter: none; /* Remove filter effects */
  border-radius: 50%;
  padding: 5px; /* Optional: Adds padding to the button */
}

.tab-bar {
  width: 4.8vw;
  height: 62vh;
  background: rgba(159, 158, 158, 0.19);
  margin-left: 2vw;
  border-radius: 2.4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: auto;
  gap: 4.5vh;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.667);
}

.logo-img {
  width: 2.5vw;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
}

.tab-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tab-item img {
  width: 1.8vw;
  height: 1.8vw;
  filter: invert(1);
  opacity: 0.8;
  transition: all 0.2s ease;
}

.tab-item img:hover {
  opacity: 1;
  transform: scale(1.2);
}

.tooltip {
  position: absolute;
  left: 60px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  padding: 6px 12px;
  border-radius: 2.8vw;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-1vw);
  transition: all 0.3s ease;
  font-size: 16px;
  color: white;
  pointer-events: none;
}

.tab-item:hover .tooltip {
  opacity: 1;
  transform: translateX(0);
}

#about-tab img {
  width: 1.6vw;
  height: 1.6vw;
}

#settings-tab img{
  width: 2vw;
  height: 2vw;
}

#play-tab img{
  width: 2vw;
  height: 2vw;
}

#content-area {
  margin-left: 120px;
  width: 100%;
  padding: 20px;
}

.tab-content {
  display: none;
  transition: opacity 0.5s ease;
}

.tab-content.show {
  display: block; /* نمایش محتوای تب */
  opacity: 1; /* شفافیت کامل */
}

.top-right-box {
  position: absolute; /* موقعیت دهی به صورت مطلق */
  top: 30%; /* 50% از ارتفاع صفحه */
  left: 53%; /* 50% از عرض صفحه */
  height: 57vh;
  width: 91vw;
  background: rgba(159, 158, 158, 0.19);
  color: white;
  padding: 2vw; /* اندازه پدینگ نسبی */
  border-radius: 2.8vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%); /* انتقال به مرکز دقیق صفحه */
}

.bottom-right-box{
position: absolute; /* موقعیت دهی به صورت مطلق */
  top: 79%; /* 50% از ارتفاع صفحه */
  left: 53%; /* 50% از عرض صفحه */
  height: 36vh;
  width: 91vw;
  background: rgba(159, 158, 158, 0.19);
  color: white;
  padding: 2vw; /* اندازه پدینگ نسبی */
  border-radius: 2.8vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%); 
}
